# Node.js
node_modules/
.env
npm-debug.log*

# React
client/node_modules/
build/
client/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.swp
*.swo

# Coverage
coverage/

# Others
server/node_modules/
